@import '~assets/stylesheets/_variables.sass'

.dashboard
	display: flex
	flex-direction: row
	width: 100%
	margin: 0 auto
	height: calc(100% - 50px)	// Due to fixed navbar
	padding-top: 50px	// Due to fixed navbar

.dashboard__tab
	background-color: #fff
	box-shadow: 0px 0px 2px 0px rgba(148, 148, 148, 0.2)
	width: 100%
	overflow: hidden

.version
	position: absolute
	padding: 5px 5px 5px 10px
	bottom: 0px
	right: 0px
	background-color: $light-background
	border-top: 1px solid $lightgrey
	border-left: 1px solid $lightgrey
	border-top-left-radius: 15px
	font-size: 12px
	user-select: none
	z-index: 2