<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Moment - Itinerary Prague</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="assets/logo/favicon.png">
	<link rel="apple-touch-icon" href="assets/logo/favicon.png"/>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
	<style>
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.preloader {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.preloader svg {
		margin: 0 auto;
	}
	</style>
</head>
<body>
	<app-root>
		<div class="preloader">
			<svg width="75px"  height="75px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-dual-ring" style="background: none;"><circle cx="50" cy="50" ng-attr-r="{{config.radius}}" ng-attr-stroke-width="{{config.width}}" ng-attr-stroke="{{config.stroke}}" ng-attr-stroke-dasharray="{{config.dasharray}}" fill="none" stroke-linecap="round" r="40" stroke-width="4" stroke="#28292f" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(173.921 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
		</div>
	</app-root>
</body>
</html>
